@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light: #F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

*{
  @apply font-poppins;
}

html {
  overflow-x: hidden;
}

.input-group{
  @apply mb-5 last:mb-0;
  label{
    @apply text-xs mb-1 block;
  }
  input,
  textarea{
    @apply bg-gray-100 px-4 py-2 w-full focus:border focus:border-gray-400 outline-none text-sm;
  }
}